<app-header (toggleSideNav)="getSideNavEvent($event)"></app-header>
  <mat-sidenav-container id="mainContent">
    <app-navigation [emitEvent]="toggle" (navClicked)="navClicked($event)"></app-navigation>
    <ng-container [ngSwitch]="view">
      <app-serverstatus *ngSwitchDefault></app-serverstatus>
      <app-home *ngSwitchCase="'home'"></app-home>
      <app-serverstatus *ngSwitchCase="'serverstatus'"></app-serverstatus>
      <app-ecotracker *ngSwitchCase="'ecotracker'"></app-ecotracker>
      <app-playercounter *ngSwitchCase="'playercounter'"></app-playercounter>
    </ng-container>
  </mat-sidenav-container>
