<div >
  <mat-card class="loginCard mat-elevation-z10">
    <div style="text-align: center; margin-bottom: 1em">
      <img src="../../../assets/photo/pixlogo.jpg" alt="PokeBall" style="height: 5em">
    </div>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <p>
          <mat-form-field>
            <input id="username" formControlName="username" type="text" matInput required minlength="4" placeholder="Username"/>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input id="password" formControlName="password" type="password" matInput minlength="6" required placeholder="Password"/>
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error" [innerHTML]="error">

        </p>

        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>

      </form>
    </mat-card-content>
  </mat-card>
</div>
